<div class="container-h1 mt-3">
  <% if current_user.lawyer? %>
    <h1>Preguntas disponibles:</h1>
</div>

<hr>

<div class="container-h1 mt-3">
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar Categoria
    </button>
    <ul class="dropdown-menu">
      <li class="list-unstyled"><%= link_to "Impuestos", "/questions_lawyers?query=Impuestos", class:"text-decoration-none", style: "color: black" %></li>
      <li class="list-unstyled"><%= link_to "Leyes", "/questions_lawyers?query=Leyes", class:"text-decoration-none", style: "color: black" %></li>
      <li class="list-unstyled"><%= link_to "Empresas", "/questions_lawyers?query=Empresas", class:"text-decoration-none", style: "color: black" %></li>
      <li class="list-unstyled"><%= link_to "Personas", "/questions_lawyers?query=Personas", class:"text-decoration-none", style: "color: black" %></li>
    </ul>
  </div>
</div>

<div class="container-md">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <% @questions.each do |question| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading<%= question.id %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= question.id %>" aria-expanded="false" aria-controls="flush-collapse<%= question.id %>">
            <%= question.title %>
          </button>
        </h2>
        <div id="flush-collapse<%= question.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= question.id %>" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"> <%= question.description %>
            <p></p>
            <%= button_to "Responder", new_question_answer_path(question), method: :get, class:"button-81" %>
            <p></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% else %>
  <div class="h-100 d-flex align-items-center justify-content-center opacity-75" style="margin-top: 20px;">
    <br>
    <h2> Esta sección es solo para abogados verificados </h2>
  </div>

  <div class="h-100 d-flex align-items-center justify-content-center" style="margin-top: 10px; ">
    <%= button_to "Volver", questions_path, method: :get, class:"button-81" %>
  </div>
<% end %>

<!--
  <div class="row mt-5">
    <% @questions.each do |question| %>
      <div class="col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= question.title %></h5>
            <p class="card-text"><%= question.description %></p>
            <% # aqui hay que ver como expandir la card para que se vea toda la info y poner %>
            <% # modal al final de esa expansion para poder responder %>
            <%#= link_to 'View details', question_answer_path(answer.question, answer), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
-->
