<div class="container-h1 mt-3">
  <h1>Mis preguntas</h1>
</div>
<hr>
<%# <p>Find me in app/views/questions/index.html.erb</p> %>

<div class="container mt-3">
  <button type="button" class="button-79"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-controller="modal" data-action="click->modal#openModal">Nueva Pregunta</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Haz tu pregunta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Pregunta:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Contexto:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
          <form class="simple_form new_question" id="new_question" novalidate="novalidate" action="/questions" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="Xqqv2tmlIS8UdrnikZvjN-zry_0DpGCjSS4OhT9JoZkJwIa-iHW3IwaAbwbYZe8bjY0OyjrRSx0QiK3eS4y2SQ" autocomplete="off">
            <div class="mb-3 string required question_title"><label class="form-label string required" for="question_title">Pregunta <abbr title="required">*</abbr></label><input class="form-control string required" required="required" aria-required="true" type="text" name="question[title]" id="question_title"></div>
            <div class="mb-3 text required question_description"><label class="form-label text required" for="question_description">Descripción <abbr title="required">*</abbr></label><textarea class="form-control text required" required="required" aria-required="true" name="question[description]" id="question_description"></textarea></div>
              <select class="form-control" required="required" name="question[category]" id="question_category"><option value="">Selecciona una categoría</option>
                <% Category.pluck(:name).each do |name| %>
                  <option value="<%= name %>"><%= name %></option>
                <% end %>
              </select>
              <%# <input type="submit" name="commit" value="Publicar pregunta" class="btn btn btn-flat" data-disable-with="Create Question"> %>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" data-action="click->modal#sendMessage">Confirmar pregunta</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <div class="row mt-5">
    <% current_user.questions.each do |question| %>
      <div class="col-md-4 mb-4">
        <div class="card-display">
          <div class="card-body">
            <h5 class="card-title"><%= truncate(question.title, length: 65) %></h5>
            <p class="card-text"><%= truncate(question.description, length: 90) %></p>
          </div>
          <hr>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <%# <%= link_to 'Ver ofertas', question_path(question), class: 'custom-btn btn-1 mr-2' %>
            <%= button_to 'Ver ofertas', questions_path, method: :get, class:'button-81 mr-2' %>
            <div class="d-flex align-items-center">
              <span class="edit-icon mr-2">
                <%= link_to "#", class: "btn btn-ghost" do %>
                  <i class="fa-regular fa-pen-to-square" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-controller="modal" data-action="click->modal#openModal"></i>
                  <%# <i class="fa-solid fa-pen"></i> %>
                  <%# <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-controller="modal" data-action="click->modal#openModal">Nueva Pregunta</button> %>
                <% end %>
              </span>
              <span class="delete-icon">
                <%= link_to "#", class: "btn btn-ghost" do %>
                  <i class="fa-regular fa-trash-can"></i> <%# Aca va el destroy action de la question solo si NO fue respondida%>
                  <%# <i class="fa fa-trash fa-sm"></i> %>

                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--
<h1>Mis preguntas</h1>
<%# <p>Find me in app/views/questions/index.html.erb</p> %>

<div class="container">
  <%# <h1 class="text-center">Marketplace</h1> %>
  <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-controller="modal" data-action="click->modal#openModal">Nueva Pregunta</button>
  <%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat" data-controller="modal" data-action="click->modal#openModal">Open modal for @fat</button> %>
  <%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" data-controller="modal" data-action="click->modal#openModal">Open modal for @getbootstrap</button> %>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Haz tu pregunta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%# <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Pregunta:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Contexto:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form> %>
          <form class="simple_form new_question" id="new_question" novalidate="novalidate" action="/questions" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="Xqqv2tmlIS8UdrnikZvjN-zry_0DpGCjSS4OhT9JoZkJwIa-iHW3IwaAbwbYZe8bjY0OyjrRSx0QiK3eS4y2SQ" autocomplete="off">
            <div class="mb-3 string required question_title"><label class="form-label string required" for="question_title">Pregunta <abbr title="required">*</abbr></label><input class="form-control string required" required="required" aria-required="true" type="text" name="question[title]" id="question_title"></div>
            <div class="mb-3 text required question_description"><label class="form-label text required" for="question_description">Descripción <abbr title="required">*</abbr></label><textarea class="form-control text required" required="required" aria-required="true" name="question[description]" id="question_description"></textarea></div>
              <select class="form-control" required="required" name="question[category]" id="question_category"><option value="">Selecciona una categoría</option>
                <% Category.pluck(:name).each do |name| %>
                  <option value="<%= name %>"><%= name %></option>
                <% end %>
              </select>
              <%# <input type="submit" name="commit" value="Publicar pregunta" class="btn btn btn-flat" data-disable-with="Create Question"> %>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" data-action="click->modal#sendMessage">Confirmar pregunta</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%# <div class="row mt-5"> %>
    <%# <% current_user.questions.each do |question| %>
      <%# <div class="col-md-4 mb-4"> %>
        <%# <div class="card"> %>
          <%# <div class="card-body"> %>
            <%# <h5 class="card-title"><%= question.title</h5> %>
            <%# <p class="card-text"><%= question.description</p> %>
          <%# </div> %>
          <%# <div class="card-footer d-flex justify-content-between align-items-center"> %>
            <%# <%= link_to 'Ver ofertas', question_path(question), class: 'btn btn-primary mr-2' %>
            <%# <div class="d-flex align-items-center"> %>
              <%# <span class="edit-icon mr-2"> %>
                <%# <%= link_to "#", class: "btn btn-ghost" do %>
                  <%# <i class="fa fa-pencil fa-sm"></i> %>
                <%# <% end %>
              <%# </span> %>
              <%# <span class="delete-icon"> %>
                <%# <%= link_to "#", class: "btn btn-ghost" do %>
                  <%# <i class="fa fa-trash fa-sm"></i> %>
                <%# <% end %>
              <%# </span> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
      <%# </div> %>
    <%# <% end %>
  <%# </div> %>

  <div class="row mt-5">
    <% current_user.questions.each do |question| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= truncate(question.title, length: 70) %></h5>
            <p class="card-text"><%= truncate(question.description, length: 100) %></p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <%= link_to 'Ver ofertas', question_path(question), class: 'btn btn-primary mr-2' %>
            <div class="d-flex align-items-center">
              <span class="edit-icon mr-2">
                <%= link_to "#", class: "btn btn-ghost" do %>
                  <i class="fa fa-pencil fa-sm" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-controller="modal" data-action="click->modal#openModal"></i>
                  <%# <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-controller="modal" data-action="click->modal#openModal">Nueva Pregunta</button> %>
                <% end %>
              </span>
              <span class="delete-icon">
                <%= link_to "#", class: "btn btn-ghost" do %>
                  <i class="fa fa-trash fa-sm"></i> <%# Aca va el destroy action de la question solo si NO fue respondida%>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
