<div class="container-h1 mt-3">
  <h1><%= @question.title %></h1>
  <h5 class="subtitle"><%= @question.description %></h5>
</div>
<hr>

<div class="container-h1 mt-3">
  <%= button_to "Volver", questions_path, method: :get, class:"button-81" %>
</div>

<div class="container">
  <div class="row mt-3">
    <% @question.answers.each do |answer| %>
    <div class="col-4">
      <div class="card-display mb-5">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h4 class="card-title">
              <%= answer.user.name %>
            </h4>
            <div class="d-flex align-items-center">
              <img src="https://via.placeholder.com/40" alt="avatar" class="rounded-circle mr-2">
              <%# <span>User Name</span> %>
            </div>
          </div>
          <p class="card-text mt-3"><%= answer.comment %></p>
          <div class="row">
            <div class="col-6">
              <p>Tiempo estimado de respuesta:
              <br><b><%= answer.avg_time %> hora/s</b></p>
            </div>
            <div class="col-6">
              <span>Precio Final: <b>$<%= answer.price %></b></span>
            </div>
          </div>
          <p class="card-text d-flex align-items-center justify-content-between">
            <span>
              <% if Review.any? %>
                <% count = answer.user.reviews.count %>
                <% sum = answer.user.reviews.sum(:rating) %>
                <% rating = (sum/count.to_f).round(2) %>
                <% black_star = (sum/count).to_i %>
                <% rating.kind_of?(Float) ? half_star = 1 : half_star = 0 %>
                <% white_star = 5 - black_star - half_star %>
                <% black_star.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% half_star.times do %>
                  <i class="fas fa-star-half-alt"></i>
                <% end %>
                <% white_star.times do %>
                  <i class="far fa-star"></i>
                <% end %>
                <%= "(#{rating.round(1)})" %>
              <% else %>
                <% 5.times do %>
                  <i class="far fa-star"></i>
                <% end %>
                <span>(0)</span>
              <% end %>
            </span>
            <hr>
            <%# <%= link_to 'Ver mas', question_answer_path(@question, answer) , class: 'btn btn-primary' %>
            <%= button_to "Ver detalles", question_answer_path(answer.question, answer), method: :get, class: "button-81" %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
