<div class="container-h1 mt-3">
  <h1><%= @question.title %></h1>
  <h5 class="subtitle"><%= @question.description %></h5>
</div>
<hr>

<div class="container">
  <div class="row mt-3">
    <% @question.answers.each do |answer| %>
    <div class="col-4">
      <div class="card-display mb-5">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title">
              <%= answer.user.name %>
            </h5>
            <div class="d-flex align-items-center">
              <img src="https://via.placeholder.com/25" alt="avatar" class="rounded-circle mr-2">
              <%# <span>User Name</span> %>
            </div>
          </div>
          <p class="card-text"><%= answer.comment %></p>
          <p class="card-text d-flex align-items-center justify-content-between">
            <span class="mr-3">Tiempo de respuesta estimado: <br> <b><%= answer.avg_time %> hora/s</b></span>
            <span class="mr-3">Precio Final: <b>$<%= answer.price %></b></span>
          </p>
          <p class="card-text d-flex align-items-center justify-content-between">
            <span class="mr-3">
              <%# <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ml-2"> (4.5) </span> %>
              <% if Review.any? %>
                <%= star_rating(Review.average(:rating).round(1)) %>
              <% else %>
                <%= star_rating(0) %>
              <% end %>
            </span>
            <%# <%= link_to 'Ver mas', question_answer_path(@question, answer) , class: 'btn btn-primary' %>
            <%= button_to "Ver detalles", question_answer_path(answer.question, answer), method: :get, class: "button-81" %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
