<%= stylesheet_link_tag "profile" %>
<div class="border-box">
  <div class="container-fluid d-lg-flex my-5">
    <div class="profile-info-card pb-3 my-5">
      <a href="/users/<%= @user.id %>" class="ms-3"><i class="fa-regular fa-circle-left mt-3"></i></a>
      <div class="card-info-header p-3">
        <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "rounded-circle img-thumbnail mb-2" %>
          <% else %>
              <img class="rounded-circle img-thumbnail mb-2" src="https://www.saberescincopuntocero.com/wp-content/uploads/2020/10/PERFIL-VACIO.png"/>
          <% end %>
        <h5><%= @user.name %> <%= @user.last_name %></h5>
          <% if @user.reviews.any? %>
            <%= star_rating(@user.reviews.average(:rating).round(1)) %>
          <% else %>
            <%= star_rating(0) %>
          <% end %>
      </div>


      <div class="info-section p-3">
        <hr>
        <h5>Description</h5>
        <p><%= @user.description %></p>
      </div>
    </div>

    <div class="profile-info-total pb-3 my-5" id="profile-info">
      <!-- TAB CONTROLLERS -->
      <input id="panel-1-ctrl"
            class="panel-radios" type="radio" name="tab-radios" checked>
      <input id="panel-2-ctrl"
            class="panel-radios" type="radio" name="tab-radios">
      <input id="panel-3-ctrl"
            class="panel-radios" type="radio" name="tab-radios">

      <!-- TABS LIST -->
      <ul id="tabs-list">
          <!-- MENU TOGGLE -->
          <label id="open-nav-label" for="nav-ctrl"></label>
          <li id="li-for-panel-1">
            <label class="panel-label"
                  for="panel-1-ctrl"><i class="fa-solid fa-address-card"></i> Perfil</label>
          </li><!--INLINE-BLOCK FIX
      --><li id="li-for-panel-2">
            <label class="panel-label"
                  for="panel-2-ctrl"><i class="fa-solid fa-gavel"></i> Experiencia</label>
          </li>
          <li id="li-for-panel-3">
            <label class="panel-label"
            for="panel-3-ctrl"><i class="fa-solid fa-building-columns"></i> Estudios</label>
          </li>
      </ul>

      <article id="panels">
        <div class="container">
          <section id="panel-1">
            <main>
              <%= simple_form_for @user do |f| %>
                <%= f.input :name, label: "Nombre" %>
                <%= f.input :last_name, label: "Apellido" %>
                <%= f.input :description, label: "Descripcion" %>
                <%= f.button :submit, class: "buttonClass", value:"Guardar Cambios" %>
              <% end %>
            </main>
          </section>

          <section id="panel-2">
            <main>
              <div class="experiences">
              <h3>Experiencia</h3>
                <ul>
                  <% @user.experiences.each do |experience| %>
                    <li class="mb-3">
                      Empresa: <%= experience.company_name %> <br>
                      Puesto: <%= experience.job_title %> <br>
                      Fecha de inicio: <%= experience.start_date %> - <%= experience.end_date %>
                    </li>
                  <% end %>
                </ul>
              <h3>Agregar nueva experiencia: </h3>
                <%= simple_form_for [@user, @experiences] do |f| %>
                <%= f.input :company_name, label: "Nombre de la empresa" %>
                <%= f.input :job_title, label: "Puesto" %>
                <%= f.input :start_date, as: :date, label: "Fecha de inicio" %>
                <%= f.input :end_date, as: :date, label: "Fecha de finalizacion" %>
                <%= f.button :submit, class: "buttonClass", value:"Agregar experiencia" %>
              <% end %>
              </div>
            </main>
          </section>

          <section id="panel-3">
            <main>
              <div class="estudies">
              <h3>Estudios</h3>
                <ul>
                  <% @user.studies.each do |study| %>
                    <li class="mb-3">
                      Titulo: <%= study.title %> <br>
                      Universidad: <%= study.university %> <br>
                      Fecha de inicio: <%= study.start_date %> - <%= study.end_date %>
                    </li>
                  <% end %>
                </ul>
                 <h3>Agregar nuevo estudio: </h3>
                <%= simple_form_for [@user, @studies] do |f| %>
                  <%= f.input :title, label: "Carrera" %>
                  <%= f.input :university, label: "Universidad" %>
                  <%= f.input :start_date, as: :date, label: "Fecha de inicio" %>
                  <%= f.input :end_date, as: :date, label: "Fecha de finalizacion" %>
                  <%= f.button :submit, class: "buttonClass", value:"Agregar estudio" %>
                <% end %>
              </div>
            </main>
          </section>
        </div>
      </article>
    </div>
    </div>
  </div>
</div>
