<%= stylesheet_link_tag "profile" %>
<div class="border-box">
  <div class="container-fluid d-lg-flex my-5">
    <div class="profile-info-card pb-3 my-5">
      <a href="/users/<%= @user.id %>/edit" class="m-3"><i class="fa-solid fa-pen-to-square mt-3"></i></a>
      <div class="card-info-header p-3">
        <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "rounded-circle img-thumbnail mb-2" %>
          <% else %>
              <img class="rounded-circle img-thumbnail mb-2" src="https://www.saberescincopuntocero.com/wp-content/uploads/2020/10/PERFIL-VACIO.png"/>
          <% end %>
        <h5><%= @user.name %> <%= @user.last_name %></h5>
          <%# <% if @user.reviews.any? %>
            <%# <%= star_rating(@user.reviews.average(:rating).round(1)) %>
          <%# <% else %>
            <%# <%= star_rating(0) %>
          <%# <% end %>
          <span>
            <% if Review.any? %>
              <% count = @user.reviews.count %>
              <% sum = @user.reviews.sum(:rating) %>
              <% rating = (sum/count.to_f).round(2) %>
              <% black_star = (sum/count).to_i %>
              <% rating.kind_of?(Float) ? half_star = 1 : half_star = 0 %>
              <% white_star = 5 - black_star - half_star %>
              <% black_star.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% half_star.times do %>
                <i class="fas fa-star-half-alt"></i>
              <% end %>
              <% white_star.times do %>
                <i class="far fa-star"></i>
              <% end %>
              <%= "(#{rating.round(1)})" %>
            <% else %>
              <% 5.times do %>
                <i class="far fa-star"></i>
              <% end %>
              <span>(0)</span>
            <% end %>
          </span>
      </div>

      <div class="info-section p-3">
        <hr>
        <h5>Description</h5>
        <p><%= @user.description %></p>
      </div>
    </div>

    <div class="profile-info-total pb-3 my-5" id="profile-info">
      <!-- TAB CONTROLLERS -->
      <input id="panel-1-ctrl"
            class="panel-radios" type="radio" name="tab-radios" checked>
      <input id="panel-2-ctrl"
            class="panel-radios" type="radio" name="tab-radios">

      <!-- TABS LIST -->
      <ul id="tabs-list">
          <!-- MENU TOGGLE -->
          <label id="open-nav-label" for="nav-ctrl"></label>
          <li id="li-for-panel-1">
            <label class="panel-label"
                  for="panel-1-ctrl"><i class="fa-solid fa-address-card"></i> Profile</label>
          </li><!--INLINE-BLOCK FIX
      --><li id="li-for-panel-2">
            <label class="panel-label"
                  for="panel-2-ctrl"><i class="fa-solid fa-star"></i> Reviews</label>
          </li>
      </ul>

      <article id="panels">
        <div class="container">
          <section id="panel-1">
            <main>
              <div class="experience-info p-3">
                <h4>Experiencia</h4>
                <ul>
                  <% @user.experiences.each do |experience| %>
                    <li class="mb-3">
                      Empresa: <%= experience.company_name %> <br>
                      Puesto: <%= experience.job_title %> <br>
                      Fecha de inicio: <%= experience.start_date %> - <%= experience.end_date %>
                    </li>
                  <% end %>
                </ul>
              </div>

              <hr>

              <div class="studies p-3">
                <h4>Estudios</h4>
                <ul>
                  <% @user.studies.each do |study| %>
                    <li class="mb-3">
                      Titulo: <%= study.title %> <br>
                      Universidad: <%= study.university %> <br>
                      Fecha de inicio: <%= study.start_date %> - <%= study.end_date %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </main>
          </section>

          <section id="panel-2">
            <main>
              <div class="row mt-5">
                <% if @user.reviews.any? %>
                  <% @user.reviews.each do |review| %>
                    <div class="col-md-4 mb-4">
                      <div class="card-display">
                        <div class="card-body">
                          <h5 class="card-title"><%= star_rating(review.rating) %></h5>
                          <p class="card-text pt-3">"<%= review.comment %>"</p>
                          <hr>
                        </div>
                      </div>
                     </div>
                  <% end %>
                <% else %>
                  <h1>Todavia no tiene reseñas.</h1>
                <% end %>
              </div>
            </main>
          </section>
        </div>
      </article>
    </div>
  </div>
</div>
