<div class="container-h1 mt-3">
  <h1>Mis respuestas</h1>
</div>
<hr>
<div class="container mt-3">
    <%= button_to "Buscar nuevas preguntas", preguntas_path, method: :get, class:"button-79" %>
</div>

<%# <p>Find me in app/views/answers/index.html.erb</p> %>

  <div class="row mt-5">
    <% current_user.answers.reverse.each do |answer| %>
      <div class="col-md-4 mb-4">
        <div class="card-display">
          <div class="card-body">
            <h5 class="card-title"><%= truncate(answer.question.title, length: 50) %></h5>
            <p class="card-text"><%= truncate(answer.comment, length: 70) %></p>
            <hr>
            <%# <%= link_to 'View details', question_answer_path(answer.question, answer), class: 'button-81'%>
            <%= button_to "Ver detalles", question_answer_path(answer.question, answer), method: :get, class: "button-81" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
