<!--
Instrucciones sobre botones PARA USER con condiciones:
1:
  2 botones uno para volver y otro para contratar.
  Condicion: Solo puede aparecer si se cumple question.choosing && answer.sent
2:
  -Se oculta el boton volver y contratar
  -Se muestra boton Pagar.
  Condicion: Si se cumple question.choosing && answer.accepted
3:
  -Se oculta el pagar, y aparece SOLO PARA LAWYER el submit para adjuntar pdf
  condicion: question.paid && answer.paid && current.user.lawyer
4:
  -Aparecen botones para descargar solucion y para dejar review.
  condicion: question.answered && answer.ended
-->

<%# <h1>Answers#show</h1>
<p>Find me in app/views/answers/show.html.erb</p> %>
<div class="container-h1 mt-4">
  <h1><%= @question.title %></h1>
  <h5 class="subtitle"><%= @question.description %></h5>
</div>
<hr>

<% if current_user.lawyer? %>
  <div class="container-h1 mt-3">
    <%= button_to "Volver", answers_path, method: :get, class:"button-81" %>
  </div>
<% else %>
  <div class="container-h1 mt-3">
    <%= button_to "Volver", question_path(@question), method: :get, class:"button-81" %>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-comment">
        <div class="card-body">
            <div class="container d-flex justify-content-center">
            <div class="row">
              <div class="col-12 text-center">
                  <img src="https://via.placeholder.com/100" class="rounded-circle img-thumbnail" alt="User Image">
                  <h4 class="card-title">
                      Lawyer name
                  </h4>
                  <div class="mt-1">
                    <span>
                      <% if Review.any? %>
                        <%= star_rating(Review.average(:rating).round(1)) %>
                      <% else %>
                        <%= star_rating(0) %>
                      <% end %>
                    </span>
                  </div>
                  <p class="card-text">
                    <span class="mr-3">Tiempo de respuesta estimado: <b>2 hora/s</b></span>
                  </p>
                  <p class="card-text">
                    <span class="mr-3">Precio Final: <b>$100</b></span>
                  </p>
              </div>
            </div>
          </div>
          <hr>
          <h4 class="mt-5">Oferta:</h4>
          <p><%= @answer.comment %></p>
        </div>
      </div>
    </div>
  </div>
</div>


<%# 1 %>
<% if @question.choosing? && @answer.sent? && current_user == @question.user%>
  <div class= "d-flex justify-content-between align-items-center">
    <%= button_to "Volver", question_path(@question), method: :get %>
    <%= button_to "Contratar", choosed_path(@answer), method: :get, class:"btn btn-success" %>
  </div>
<% end %>

<!--
<%# 2 %>
<% if @question.choosing? && @answer.accepted? && current_user == @question.user %>
<%# Este form es el boton pagar de mercado pago! %>
  <script src="https://www.mercadopago.cl/integrations/v1/web-payment-checkout.js" data-preference-id="<%= @preference_id %>">
  </script>
  <script>
  // Listen for the "payment.created" event
  window.addEventListener("payment.created", function(event) {
    // Save the payment response to your backend
    const paymentResponse = event.detail;
    fetch('/answers/<%= @answer.id %>/procesar-pago', {
      method: 'POST',
      body: JSON.stringify(paymentResponse),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      console.log('Payment response saved successfully.');
    })
    .catch(error => {
      console.error('Error saving payment response:', error);
    });
  });
  </script>
  -->
<!--

  <form action="/answers/<%=@answer.id%>/procesar-pago" method="POST">
      <script src="https://www.mercadopago.cl/integrations/v1/web-payment-checkout.js" data-preference-id="<%= @preference_id %>">
      </script>
  </form>
<% end %>
  -->


<%# 3 %>
<% if @question.paid? && @answer.paid? && current_user == @answer.user %>
<%# Este es el form para adjuntar un archivo a la respuesta %>
  <div class="container">
    <%= simple_form_for([@question, @answer], html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :photo, label: "Adjunta tu respuesta en formato pdf, jpg, png", as: :file %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Agregar", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>

      <%# <h3> Previsualización:</h3> %>
    <%# Este es el preview %>
    <%#= cl_image_tag "#{@answer.photo.key}.png", :width=>600, :height=>700 %>
    <% if @answer.photo.attached? %>
      <%#= cl_image_tag @answer.photo.key, :width=>600, :height=>700 %>
      <h3> Preview: </h3>
      <%= cl_image_tag "#{@answer.photo.key}.jpg", :width=>600, :height=>700, :page=>1, :crop=>"fill"%>
    <% end %>

    <%= button_to "Enviar respuesta", response_path(@answer), method: :get %>

  </div>
<% end %>

<%# 4 %>
<% if @question.answered? && @answer.ended? && current_user == @question.user%>
  <p>Dejar review y descargar</p>
  <%#= link_to "Descargar Documento", cl_image_path(@answer.photo.key, resource_type: :image, type: :upload) %>
  <%= button_to "Descargar Documento", cl_image_path(@answer.photo.key, resource_type: :image, type: :upload), method: :get, class:"button-81 btn-lg"  %>
<% end %>

  <%#= cl_image_tag "#{@answer.photo.key}.jpg", :width=>700, :height=>700, :page=>2, :crop=>"fill" %>
  <%#= cl_video_tag @answer.photo.key, resource_type: :image, format: 'pdf' %>
  <%#= cl_image_tag "#{@answer.photo.key}.jpg", pages: "1-3" %>


  <%#= cl_image_tag("https://res.cloudinary.com/dcfoaujd5/image/fetch/w_800,h_600,c_fill,g_auto,q_auto,f_auto/page_1/#{@answer.photo.key}", alt: "PDF thumbnail") %>
  <%#= cl_video_tag("https://res.cloudinary.com/dcfoaujd5/video/upload/fl_attachment/v1/#{@answer.photo.key}.pdf", resource_type: :video, alt: "PDF document") %>
<%# ANSWER VIEW %>
<!-- DESCOMENTAR PARA TRABJAR EN FRONT

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-left"><%= @question.title %></h1>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="https://via.placeholder.com/150" class="rounded-circle mr-3" alt="Lawyer Avatar">
          <div>
            <h5 class="mb-2"><%= @answer.user.name %></h5>
            <div class="d-flex align-items-center">
              <p class="mb-2">Rating: </p>
              <i class="fa fa-star text-warning"></i>
              <p class="mb-2"><b>4.5</b></p>
            </div>
            <p class="mb-2">Avg time of answer: <b>2 hours</b></p>
            <p class="mb-2">Price: <b>$50</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Description or comment of the lawyer explaining why he is capable of responding to the question.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mt-4 mx-2">
        <button class="btn btn-danger mr-3">Rechazar</button>
        <button class="btn btn-success">Aceptar</button>
      </div>
    </div>
  </div>

  <%# <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-controller="modal" data-action="click->modal#openModal">Nueva Pregunta</button> %>
  <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleReview" data-bs-whatever="@mdo" data-controller="reviews" data-action="click->reviews#showModal">Dejanos tu Reseña</button>

  <%# <%= link_to 'Leave your Review', '#', class: 'btn btn-primary', data: { action: 'click->reviews#showModal' } %>
  <%# <%= button_to 'Leave your Review', class: 'btn btn-primary', data: { action: 'click->reviews#showModal',  } %>
  <div class="modal fade" data-controller="reviews" id="exampleReview" aria-labelledby="exampleReviewLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Leave your Review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-action="click->reviews#hideModal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render partial: 'review_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
