<section id="opening">

  <div class="container">

    <div class="row text-center">
      <div class="col-2"></div>

      <div class="col-8 firstTitle">
        <h1>Legal Mentor</h1>
        <h3>Tu guía legal personalizada</h3>
        <%= link_to "Empezar ahora mismo", new_user_session_path, class: "btn btn-outline-light buttonHome" %>
      </div>

      <div class="col-2"></div>
    </div>

    <div class="row text-center" id="footHome">
      <div class="col-4">
        <h4>Tu guia legal personalizada</h4>
        <p>Haz la pregunta que necesites saber sobre cualquier tema.</p>
      </div>

      <div class="col-4">
        <h4>Respuestas confiables a tus preguntas</h4>
        <p>Nuestros abogados son validados.</p>
      </div>

      <div class="col-4">
        <h4>Breves tiempos de espera</h4>
        <p>Resuelva sus dudas a corto plazo.</p>
      </div>
    </div>

  </div>

</section>

<section id="ourServices">
  <article class="pt-5">
    <section class="card">
      <div class="text-content">
        <h3>Haz consultas a abogados calificados</h3>
        <p> Con un equipo de abogados experimentados y capacitados en diversas áreas del derecho, Legal Mentor ofrece una plataforma segura y fácil de usar para hacer preguntas y recibir respuestas de expertos en derecho.</p>
        <%# <%= link_to "Publicar una pregunta", new_user_session_path %>
        <%= button_to "Publicar una pregunta", new_user_session_path, method: :get, class:"button-81" %>
      </div>
      <div class="visual">
        <img src="https://images.pexels.com/photos/7658248/pexels-photo-7658248.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
      </div>
    </section>

    <section class="card">
      <div class="text-content">
        <h3>Responde preguntas a usuarios</h3>
        <p>Valida tu cuenta de usuario abogado con tus certificaciones y empieza a responder preguntas.</p>
        <%# <%= link_to "Responder preguntas", new_user_session_path %>
        <%= button_to "Responder preguntas", new_user_session_path, method: :get, class:"button-81" %>
      </div>
      <div class="visual">
        <img src="https://images.pexels.com/photos/5313158/pexels-photo-5313158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
      </div>
    </section>
  </article>
</section>

<section id="aboutUs" class="p">
  <div class="container pb-5 mb-5">

    <div class="row text-start"><h3 id="serviceTitle">About Us</h3></div>
    <div class="row">
      <div class="col-4">
        <img src="https://images.pexels.com/photos/7679649/pexels-photo-7679649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid">
      </div>

      <div class="col-8">

        <h5 class="mb-3 mt-5 pt-5">
          Legal Mentor es una página web diseñada para brindar asesoría legal en línea a cualquier persona que necesite ayuda en cuestiones legales. Con un equipo de abogados experimentados y capacitados en diversas áreas del derecho, Legal Mentor ofrece una plataforma segura y fácil de usar para hacer preguntas y recibir respuestas de expertos en derecho.
        </h5>
        <h5 class="mb-3">
          Nuestra misión es proporcionar una solución confiable y asequible para aquellos que buscan respuestas y orientación legal. Creemos que todos tienen derecho a entender sus derechos y tener acceso a asesoramiento legal de calidad, sin importar su ubicación geográfica o su situación financiera.
        </h5>
        <h5>
          En Legal Mentor, nos enorgullece ser una plataforma de asesoramiento legal de alta calidad y fácil acceso. Creemos que es importante brindar asesoramiento legal accesible y comprensible, y nos esforzamos por lograrlo en cada interacción con nuestros clientes.
        </h5>
      </div>
    </div>

  </div>
</section>
